.footer-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5vh 0px;
  background-color: black;
  margin-top: 12vh;
}

.footer-link {
  color: white;
}
