.slider {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  height: 22vh;
  overflow-x: hidden;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.slide {
  display: flex;
  flex-direction: row;
  transition: 0.5s;
}

.buttonLeft {
  position: absolute;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 7px;
  background-color: white;
}

.buttonRight {
  position: absolute;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 7px;
  right: -2px;
  background-color: white;
}

.slide-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  padding: 0px 50px;
  border-right: 1px solid #dedede;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.slide-items-titles {
  font-size: 10px;
  line-height: 1;
  letter-spacing: 1.5px;
  min-width: 150px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  color: rgb(155, 155, 155);
}

.slide-items-details {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0px;
  text-transform: capitalize;
  text-align: center;
  padding: 0px 15px;
}

.carousel-container {
  width: 100%;
  margin-top: 50px;
}
