.pre-checkout-container {
  width: 100%;
  padding: 24px;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  border-top: 1px solid rgb(177, 177, 177);
  width: 81%;
  margin-left: 9%;
}

.checkout-items {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  padding: 14px 0px;
  border-bottom: 1px solid rgb(177, 177, 177);
  width: 100%;
}

.checkout-name {
  padding-right: 15px;
  font-size: 10px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.checkout-value {
  margin-top: -1px;
  font-size: 12px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.3;
  letter-spacing: 0px;
  text-align: right;
  text-transform: none;
}

.checkout-btns-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}
