.ProductContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.HeroContainer {
  display: flex;
  justify-content: center;
  height: calc(-180px + 100vh);
  max-height: 800px;
  min-height: 500px;
  width: 90.5%;
}

// shoe wrapper is the first pane

.HeroPane-first-wrapper {
  border: 1px solid rgb(222, 222, 222);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.HeroPane-shoe-wrapper {
  //position: absolute;
  width: 100%;
  background: rgb(255, 255, 255) none repeat 0% 0%;
}

.ProductPane-shoe-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: 0 auto;
}

.ProductPane-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(222, 222, 222);
  width: 50%;
}

.ProductPane-header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40%;
  // margin: 0 auto;
}

.ProductPane-header {
  width: 87%;
  padding-top: 15px;
  text-align: center;
}

.HeroPane-form {
  display: flex;
  flex-direction: column;
  height: 55%;
  margin-top: auto;
}

.HeroPane-login-form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 30px;
}

.HeroPane-session-errors {
  list-style-type: none;
  color: red;
  font-size: 10px;
}

.login-labels {
  padding-bottom: 12px;
  padding-top: 10px;
}

.login-input {
  border: none;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid rgb(222, 222, 222);
  filter: none;
}

.btns-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.btn-signup {
  width: 100%;
  border: none;
  background: none;
  font-size: 14px;
  color: white;
  padding: 10px 0;
  background-color: black;
  cursor: pointer;
}

.btn-login {
  width: 50%;
  border: none;
  background: none;
  font-size: 14px;
  color: white;
  padding: 10px 0;
  background-color: black;
  cursor: pointer;
}

.btn-demo {
  width: 50%;
  border: none;
  background: none;
  font-size: 14px;
  color: white;
  padding: 10px 0;
  background-color: black;
  cursor: pointer;
  border-left: 1px solid white;
}

.ProductTitle {
  font-size: 32px;
  padding: 0px 0px 5px;
  text-align: center;
  margin: 0px;
}

.ProductTitle_Sku {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: rgb(129, 129, 129);
  margin-top: 23px;
}

.ProductDetails {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 40px;
}

.ProductDetails_Title {
  text-align: center;
  font-size: 24px;
  line-height: 1.83;
  margin-bottom: 31px;
}

.ProductDetails_Desc {
  color: rgb(11, 11, 11);
  position: relative;
  width: 100%;
  line-height: 1.5;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
}

.Divider_Dash {
  height: 1px;
  width: calc(100% - 180px);
  background-color: rgb(222, 222, 222);
}
