// this is the whole container
.ProductContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

// THIS IS LEFT SIDE ONLY
.HeroContainer {
  display: flex;
  justify-content: center;
  height: calc(-180px + 100vh);
  max-height: 800px;
  min-height: 500px;
  width: 90.5%;
}

.HeroPane-first-wrapper {
  border: 1px solid rgb(222, 222, 222);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.HeroPane-shoe-wrapper {
  //position: absolute;
  width: 100%;
  background: rgb(255, 255, 255) none repeat 0% 0%;
}

.ProductPane-shoe-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin: 0 auto;
}

// THIS IS RIGHT SIDE ONLY

.ProductPane-container {
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #dedede;
}

.HeroPane-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  text-align: center;
}

.ProductPane-header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ProductPane-header {
  width: 87%;
  padding-top: 15px;
  text-align: center;
  margin-top: 40%;
}

.ProductTitle {
  font-size: 32px;
  padding: 0px 0px 5px;
  text-align: center;
  margin: 0px;
}

.ProductTitle_Sku {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: rgb(129, 129, 129);
  margin-top: 23px;
}

.btn-buy-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  border-top: 1px solid rgb(222, 222, 222);
}

.btn-buy {
  width: 100%;
  border: none;
  background: none;
  font-size: 14px;
  padding: 10px 0;
  cursor: pointer;
}

// THIS IS DETAILS ONLY

.ProductDetails {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px 40px;
}

.ProductDetails_Title {
  text-align: center;
  font-size: 24px;
  line-height: 1.83;
  margin-bottom: 31px;
}

.ProductDetails_Desc {
  color: rgb(11, 11, 11);
  position: relative;
  width: 100%;
  line-height: 1.5;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
}

.Divider_Dash {
  height: 1px;
  width: calc(100% - 180px);
  background-color: rgb(222, 222, 222);
}
