.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jubilee-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-container img {
  width: 100%;
}
