.splash-main-container {
  width: 100%;
}

.front-page-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.front-page-img-container img {
  width: 100%;
}

.splash-img-link {
  width: 100%;
}

.sneaker-front-page-container {
  padding: 90px 0;
  border-bottom: 1px solid gray;
}

.sneaker-header-container {
  margin-left: 5%;
}

.sneaker-header-container h3 {
  text-transform: capitalize;
  font-size: 36px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.22;
  letter-spacing: -0.3px;
}
